<div class="container">

  <img src="assets/6095776.jpg">
  <div class="information">
    <div class="container-name">
    <h1>Qui somme nous?</h1>
    <p>fireSquadXx est une équipe de robot qui lutte contre les incendies</p>
    </div>
    <div class="container-robot">
      <h3> Nos robots</h3>
    <div class="container-card">
      <h4>Rapido</h4>
      <img src="assets/H225cfe26cb1d4b2fb2e5f64af3050590W.webp" />
    </div>
    <div class="container-card2">
      <h4>Citerne</h4>
      <img src="assets/rex.png" />
    </div>
    <div class="container-card3">
      <h4>extincteur</h4>
      <img src="assets/MILREM-ROBOTICS.webp" />

    </div>
    </div>
  </div>

</div>
<app-navbar></app-navbar>
